<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHAIRS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
   <div class="btnss1"> 
       <a href="/">Go Back</a>
        </div>
  <body>
    <div class="container3">
         {{#each product }}
        <div class="box">
      <div class="image">
      <img src="/images/product/{{this._id}}.jpg">
        </div>
        <div class="name_job">{{this.name}}</div>
        <div class="name_job">{{this.Brand}}</div>
        <div class="name_job">{{this.Price}}.₹</div>
        <div class="name_job">{{this.discription}}</div>
          <div class="btns"> 
       <a href="/users/cart"  class="button1  ">BUY</a>
       <a href="/users/cart" class="button2">ADD  TO CART</a>
        </div>
      </div> 
        {{/each}} 
    </div>
      </body>
</html>