<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BACKPACK</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
     <div class="btnss1"> 
       <a href="/">Go Back</a>
        </div>
  <body>
    <div class="container3">
      {{#each products }}
        <div class="box">
      <div class="image">
    <img src="/images/product/{{this._id}}.jpg">
        </div>
        <div class="name_job"><h3>{{this.name}}</h3></div>
        <div class="name_job">BRAND:  {{this.Brand}}</div>
        <div class="name_job">PRICE:  {{this.Price}}.₹</div>
        <div class="name_job">DIS:  {{this.discription}}</div>
        
        <div class="btns"> 
       <a href="/users/cart/{{this._id}}"  class="button1  ">BUY</a>
       <a href="/users/cart/{{this._id}}" class="button2">ADD  TO CART</a>
        </div>
      </div> 
      {{/each}} 
    </div>
      </body>
</html>